.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin-left: 800px;
    padding-top: 20px;
}

#center {
    margin-left: 10vw;
}

.col-lg-6 {
    display:flex;
}

/* Include any custom CSS styling here! */
